.fault-visualization {
    background: linear-gradient(135deg, #0c1116, #34495e, #2c85ce);
    background-size: cover; /* Ensures the background covers the entire screen */
    background-position: center;
    margin: 0;
    padding: 0px 0px 10px 0px;
    min-height: 100vh;
  }
  
  /* Header styling */
  .header {
    background-color: #3748e6;
    width: 100%;
    height: 20%; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }
  
  .user-name {
    font-size: 18px;
  }
  
  /* Back button */
  .back-button {
    background-color: #1827a4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 20px;
  }
  
  .back-button:hover {
    background-color: #0c1a70;
  }
  
  
  /* Nodes container */
  .nodes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }
  
  /* Node sections */
  .nodes-section {
    background-color: #1b3a56;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(37, 179, 223, 0.8);
    width: 450px;
    text-align: center;
  }
  
  .healthy-section .section-title {
    background-color: #28c3d4;
    width: 380px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  .fault-section .section-title {
    background-color: #e74c3c;
    width: 380px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Node buttons */
  .node-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
    cursor: pointer;
    border: none;
  }
  
  .healthy-node {
    background-color: #28c3d4;
    color: #fff;
  }
  
  .healthy-node:hover {
    background-color: #1ea2b3;
  }
  
  .fault-node {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .fault-node:hover {
    background-color: #c0392b;
  }
  